.card {
  width: 600px;
  height: 100%;
  position: relative;
}
.card_background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
.card_title {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 15%;
  left: 10%;
}
.hero {
  position: absolute;
  bottom: -44px;
  left: -62px;
  border-radius: 60px;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  
}
.title-spider {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 11%;
  left: 75%;
}
.hero_spider {
  position: absolute;
  bottom: -40%;
  left:-25%;
  border-radius: 60px;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  
}
.hero_super {
  position: absolute;
  bottom: -50px;
  left: -35px;
  border-radius: 60px;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  width : 250px;
  height : 350px;
}
.card_text {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 27rem;
}
.card_text h4 {
  color: #fff;
  text-align: right;
  font-family: 'Gilroy';
  font-weight: 800;
}
.card:hover .hero_spider {
  transform: scale(0.8) translate(24px, 0px);
  -webkit-transform: scale(0.8) translate(24px, 0px);
  -moz-transform: scale(0.8) translate(24px, 0px);
  -ms-transform: scale(0.8) translate(24px, 0px);
  -o-transform: scale(0.8) translate(24px, 0px);
}
.card:hover .hero_super {
  transform: scale(0.9) translate(24px, -40px);
  -webkit-transform: scale(0.9) translate(24px, -40px);
  -moz-transform: scale(0.9) translate(24px, -40px);
  -ms-transform: scale(0.9) translate(24px, -40px);
  -o-transform: scale(0.9) translate(24px, -40px);
}

.card:hover .hero {
  border-radius: 55px;
  transform: scale(0.9) translate(40px, -30px);
  -webkit-transform: scale(0.9) translate(40px, -30px);
  -moz-transform: scale(0.9) translate(40px, -30px);
  -ms-transform: scale(0.9) translate(40px, -30px);
  -o-transform: scale(0.9) translate(40px, -30px);
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
}
/* .gamer_profile_card {
  width: 600px;
  height: 100%;
  position: relative;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
.gamer_profile_card_bg_img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 60px;
}
.gamer_profile_card_inner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.gamer_profile_card_game_name {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
}

.gamer_profile_card_text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 800;
  font-size: 25px;
  line-height: 31px;
  text-align: right;
} */

/* .card_img_border {
  border-bottom-left-radius: 60px;
} */

/* fliped card */

/* .gamer_profile_card_inner_img_flip {
  position: absolute;
  top: 0;
  right: -2rem;
}

.gamer_profile_card_game_name_flip {
  position: absolute;
  top: -4rem;
  left: -4.5rem;
}

.gamer_profile_card_text_flip {
  max-width: 75%;
  position: absolute;
  bottom: 25px;
  left: 18px;
  font-weight: 800;
  font-size: 25px;
  line-height: 31px;
  text-align: left;

  color: #ffffff;
}

.dark_theme_text {
  color: #d8d8d8 !important;
} */
